In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_excel("/Users/BaBa/Downloads/Input Data/Year of Graduation Data/Final Lead Data.xlsx")

In [10]:
df['Academic Year'].fillna(0, inplace=True)
df['Current Year'].fillna(0, inplace=True)

In [13]:
df['Academic Year'] = df['Academic Year'].astype(str)
df['Current Year'] = df['Current Year'].astype(str)

In [14]:
df = df[df['Academic Year'].str.isnumeric() & df['Current Year'].str.isnumeric()]

In [15]:
df['Academic Year'] = df['Academic Year'].astype(int)
df['Current Year'] = df['Current Year'].astype(int)

In [17]:
course_duration = 4

In [20]:
df['Year of Graduation'] = df['Current Year'] - df['Academic Year'] + course_duration

In [21]:
df.head()

,ID,First Name,Email,Created,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,Current Year,Company Name/ College Name,Year of Graduation
0,68112,ANIKET,aniket@xyz.com,04/27/2022 01:41:38 pm,NaN,NaN,0,NaN,NaN,0,NaN,4
1,68110,Dhanshree,dhanshree@xyz.com,04/22/2022 04:08:38 pm,Lords Universal College,NaN,0,NaN,NaN,0,NaN,4
2,68108,Dhiraj,dhiraj@xyz.com,04/16/2022 10:31:59 pm,NaN,NaN,0,NaN,NaN,0,NaN,4
3,68106,Pooja,pooja@xyz.com,04/13/2022 10:05:15 pm,NaN,NaN,0,NaN,NaN,0,NaN,4
4,68090,Aayush,aayush@xyz.com,03/26/2022 07:02:48 pm,B.k Birla college,NaN,0,NaN,NaN,0,NaN,4

In [22]:
output_file_path = "/Users/BaBa/Downloads/Input Data/updated_data.xlsx"

In [23]:
df.to_excel(output_file_path, index=False)